.user-panel {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	padding: 15px 20px;
	box-sizing: border-box;
}

.user-panel__top, .user-panel__bottom {
	display: flex;
}

.user-panel__avatar {
	max-width: 100px;
}
.user-panel__avatar-img {
	max-width: 100%;
}
.user-panel__list {
	display: flex;
	flex-direction: column;
	margin: 0 15px;
}
.user-panel__name {
	margin: 0 0 5px 0;
}

.user-panel__bottom {
	margin-top: 15px;
	flex-wrap: wrap;
	justify-content: space-around;
}

.user-panel__item {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 15px;
	margin-bottom: 10px;
}
.user-panel__item:last-child {
	margin-bottom: 0;
}
.user-panel__item-value {
	font-size: 28px; 
}
.user-panel__item-label {
	font-weight: 300;
	font-size: 15px;
}