@import "normalize.css";
@import "leaflet";
@import "./pages/run";
@import "./pages/user";


* {
	box-sizing: border-box;
}

body {
	background-color: #eee;
	color: #333;
	margin: 8px 12px;
}

.container {
	display: flex;
	flex-direction: column;
	max-width: 700px;
	margin: auto;
}

.panel {
	width: 100%;
	background-color: #fafafa;
	margin-bottom: 10px;
	box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.1);
	position: relative;
}