.calendar__week {
	border-bottom: 1px solid #eee;
}
.calendar__week:last-child {
	border-bottom: 0;
}

.calendar__week--after-header {
	border-top: 1px solid #eee;
}

.calendar__week-header {
	text-align: center;
	padding: 10px 0 5px 0;
}
.calendar__week-header > h2 {
	margin: 0;
}

.calendar__weeks-items {
	display: flex;
}

.calendar__day {
	flex-grow: 1;
	border-right: 1px solid #eee;
	padding: 6px 0 0 6px;
	z-index: 1;
}
.calendar__day:after { /* hack for quadratic divs */
	content: '';
	display: block;
	margin-top: calc(100% - 16px);
}
.calendar__day:last-child {
	border-right: 0;
}

.calendar__day-empty {
	z-index: 0;
}

.calendar__day-active {
	background-color: steelblue;
	color: white;
	cursor: pointer;
}
.calendar__day-active:hover {
	background: rgb(70, 110, 180);
}
.calendar__day-active:active, .calendar__day-active:focus {
	background: rgb(70, 105, 180);
}


.calendar__fold {
	width: 720px; /*cover drop shadow of panel*/
	width: calc(100% + 20px); /*cover drop shadow of panel*/
	perspective: 1000px;
	background: #eee;
	position: relative;
	left: -10px;
}

.calendar__fold-item {
	height: 17px;
	width: 702px;
	width: calc(100% - 18px);
	position: relative;
	left: 9px;
	transform-style: preserve-3d;
}

.calendar__fold-side {
	height: 35px;
	width: 100%;
	border-right: 1px solid rgba(155, 155, 155, 0.67);
	border-left: 1px solid rgba(155, 155, 155, 0.67);
}

.calendar__fold-top {
	transform: rotateX(285deg);
	transform-origin: top;
	background: linear-gradient(rgb(228, 228, 228), rgb(209, 209, 209));
}
.calendar__fold-bottom {
	border-top: 3px solid rgba(155, 155, 155, 0.67);
	transform: rotateX(75deg);
	transform-origin: bottom;
	position: absolute;
	bottom: 0;
	background: linear-gradient(rgb(209, 209, 209), rgb(228, 228, 228));
}